/**
 * Helvetica for IBM
 */

 @font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/medium/helvetica-neue-medium.eot?') format('eot'), url('../fonts/medium/helvetica-neue-medium.woff2') format('woff2'), url('../fonts/medium/helvetica-neue-medium.woff') format('woff'), url('../fonts/medium/helvetica-neue-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/medium-italic/helvetica-neue-medium-italic.eot?') format('eot'), url('../fonts/medium-italic/helvetica-neue-medium-italic.woff2') format('woff2'), url('../fonts/medium-italic/helvetica-neue-medium-italic.woff') format('woff'), url('../fonts/medium-italic/helvetica-neue-medium-italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/light/helvetica-neue-light.eot?') format('eot'), url('../fonts/light/helvetica-neue-light.woff2') format('woff2'), url('../fonts/light/helvetica-neue-light.woff') format('woff'), url('../fonts/light/helvetica-neue-light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/light-italic/helvetica-neue-light-italic.eot?') format('eot'), url('../fonts/light-italic/helvetica-neue-light-italic.woff2') format('woff2'), url('../fonts/light-italic/helvetica-neue-light-italic.woff') format('woff'), url('../fonts/light-italic/helvetica-neue-light-italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Helvetica Neue for IBM';
  src: url('../fonts/bold/helvetica-neue-bold.eot?') format('eot'), url('../fonts/bold/helvetica-neue-bold.woff2') format('woff2'), url('../fonts/bold/helvetica-neue-bold.woff') format('woff'), url('../fonts/bold/helvetica-neue-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

/**
 * IBM Plex Sans
 */
 @font-face {
   font-family: 'IBMPlexSans-Bold';
   src: url('../fonts/bold/IBMPlexSans-Bold-V01.1.eot?') format('eot'),
        url('../fonts/bold/IBMPlexSans-Bold-V01.1.woff2') format('woff2'),
        url('../fonts/bold/IBMPlexSans-Bold-V01.1.woff') format('woff'),
        url('../fonts/bold/IBMPlexSans-Bold-V01.1.ttf') format('truetype'),
        url('../fonts/bold/IBMPlexSans-Bold-V01.1.otf') format('opentype');
   font-weight: 700;
   font-style: normal;
 }
 @font-face {
   font-family: 'IBMPlexSans-Medium';
   src: url('../fonts/medium/IBMPlexSans-Medium-V01.1.eot?') format('eot'),
        url('../fonts/medium/IBMPlexSans-Medium-V01.1.woff2') format('woff2'),
        url('../fonts/medium/IBMPlexSans-Medium-V01.1.woff') format('woff'),
        url('../fonts/medium/IBMPlexSans-Medium-V01.1.ttf') format('truetype'),
        url('../fonts/medium/IBMPlexSans-Medium-V01.1.otf') format('opentype');
   font-weight: 500;
   font-style: normal;
 }
 @font-face {
   font-family: 'IBMPlexSans-Regular';
   src: url('../fonts/regular/IBMPlexSans-Regular-V01.1.eot?') format('eot'),
        url('../fonts/regular/IBMPlexSans-Regular-V01.1.woff2') format('woff2'),
        url('../fonts/regular/IBMPlexSans-Regular-V01.1.woff') format('woff'),
        url('../fonts/regular/IBMPlexSans-Regular-V01.1.ttf') format('truetype'),
        url('../fonts/regular/IBMPlexSans-Regular-V01.1.otf') format('opentype');
   font-weight: 300;
   font-style: normal;
 }
 @font-face {
   font-family: 'IBMPlexSans-Light';
   src: url('../fonts/light/IBMPlexSans-Light-V01.1.eot?') format('eot'),
        url('../fonts/light/IBMPlexSans-Light-V01.1.woff2') format('woff2'),
        url('../fonts/light/IBMPlexSans-Light-V01.1.woff') format('woff'),
        url('../fonts/light/IBMPlexSans-Light-V01.1.ttf') format('truetype'),
        url('../fonts/light/IBMPlexSans-Light-V01.1.otf') format('opentype');
   font-weight: 200;
   font-style: normal;
 }
 @font-face {
  font-family: 'IBMPlexMono-Medium';
  src: url('../fonts/medium/IBMPlexMono-Medium-V01.eot?') format('eot'),
       url('../fonts/medium/IBMPlexMono-Medium-V01.woff2') format('woff2'),
       url('../fonts/medium/IBMPlexMono-Medium-V01.woff') format('woff'),
       url('../fonts/medium/IBMPlexMono-Medium-V01.ttf') format('truetype'),
       url('../fonts/medium/IBMPlexMono-Medium-V01.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'IBMPlexMono-Light';
  src: url('../fonts/medium/IBMPlexMono-Light-V01.eot?') format('eot'),
       url('../fonts/medium/IBMPlexMono-Light-V01.woff2') format('woff2'),
       url('../fonts/medium/IBMPlexMono-Light-V01.woff') format('woff'),
       url('../fonts/medium/IBMPlexMono-Light-V01.ttf') format('truetype'),
       url('../fonts/medium/IBMPlexMono-Light-V01.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}


/**
 * Font Awesome is a bower dependency.
 */
@font-face {
  font-family: 'FontAwesome';
  src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('../lib/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../lib/font-awesome/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../lib/font-awesome/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../lib/font-awesome/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../lib/font-awesome/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
