h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  margin-top: 2rem;
  font-size: 22px;
  font-family: var(--font-family-plex-bold);
  font-weight: 600;
}

h4 {
  margin-top: 2rem;
  font-size: 1.125rem;
  font-family: var(--font-family-plex-bold);
  letter-spacing: 0.05rem;
}

h5 {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 700;
}

h6 {
  margin-top: 2rem;
  color: var(--navy-gray-6);
  font-size: 0.875rem;
  font-family: var(--font-family-plex-bold);
  letter-spacing: 0.1rem;
}

blockquote {
  padding-left: 1rem;
  border-left: 4px solid var(--gray-1);
}

li {
  margin: 0 0 0.25rem;
}

ul {
  margin: 0 0 0.75rem;
}

p {
  margin: 0 0 0.75rem;
}

strong, b {
  font-family: var(--font-family-plex-bold);
}

/* We only use <i> elements for icons, so override the font-style. */
i {
  font-style: normal;
}

pre {
  background: var(--blue-90);
  padding: 1rem;
  color: var(--gray-1);
  word-wrap: break-word;
  white-space: pre-wrap;
  margin: 0 0 0.75rem 0;
}

code {
  font-family: var(--font-family-plex-mono);
  white-space: pre-wrap;
}