<aside class="sidebar app-chrome__sidebar">
  <div class="sidebar__container">
    <a class="sidebar__header" href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/img-dev-icon.svg"
           alt="Developer Docs"
           class="sidebar-icon">
      <p>Developer Docs</p>
    </a>
    {% include partials/sidebar-group.html %}
    <div class="watson-logo">
      <img src="{{ site.baseurl }}/assets/img/logo-watson-purple.png"
           alt="Watson" />
    </div>
    <p class="copyright">Copyright © 2017 IBM</p>
  </div>
</aside>
